@media only screen and (max-width: 700px) {
    div.heroinfo {
        width: 100vw;
    }
    div.heroinfo h1{
        font-size: 30px;
        text-align: center;
    }
    div#popup {
        height: 400px;
        width: 80vw;
        background-color: whitesmoke;
        position: relative;
        top: 5%;
        left: 5%;
        box-shadow: 8px 5px 2px 1px rgba(48, 48, 49, 0.315);
        padding: 50px;
        text-align: left;
        font-size: larger;
        }
    div.businessimg {
        height: 60vh;
    }
    div.parallax2 {
        background-size: cover;
    }
    table.messages {
        font-size: smaller;
    }
    div#upgradeOptions {
        position: absolute;
        top: 35%;
        left: 10%;
        width: 80vw;
        z-index: 1;
    }
}

.gradient {
    background: linear-gradient(90deg, rgba(21,127,251) 0%, rgba(151,20,255,1) 100%);
}

#upgradeOptions {
    border: 1px solid silver;
    width: 400px;
    position: absolute;
    left: 33%;
    top: 80px;
    background-color: whitesmoke;
    box-shadow: 8px 8px 2px 1px rgba(67, 67, 70, 0.2);
    padding: 20px;
    border-radius: 10px 10px;
    z-index: 1;
}
#upgradeOptions h5{
    text-align: center;
}
.exitUpgrade{
    float: right;
}
#upgradeOptions div {
    outline: 1px solid silver;
    border-radius: 10px 10px;
    padding: 25px; 

}

.noDisplay {
    display: none;
}

.wrapper {
    width: 90%;
    border: 1px solid lightgray;
    margin: auto;
    padding: 15px;
}

.loginwrapper {
    /* width: 50%; */
    height: 50vh;
    margin: 400px 0 0 0;
    padding: 20px; 
    text-align: center;
    background: none;
    vertical-align: bottom;
}


.wrapper.splitscreen{
    text-align: center;
}

.splitscreen {
    width: 40%;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.messages {
    margin: 40px 0 0 0;
}

.comments {
    margin: 0 0 40px 80px;
}

.comments form, p {
    font-size: smaller;
}

.nav_left {
    position: left;
    margin: auto 0;
    }

.nav_right {
    position: right;
    left: 200px;
    margin: auto 0;
    }

navbar {
    margin: -30px 0 100px 0; 
}

navbar p, li, a {
    display:inline-block;
    list-style: none;
    color: white;
}

navbar a {
    color: white;
}

navbar.form-group {
    position: right;
}

.row_custom {
    margin: 10px 0;
}

.row_inline_block {
    display: inline-block;
}
.row_inline {
    display: inline;
}

a.block {
    display: block;
    text-align: center;
    width: 60%;
    margin: 3px auto;
}

.block {
    display: block;
    text-align: center;
    width: 60%;
    margin: 3px auto;
}

.line_divider {
    border-bottom:1px lightgray solid;
    height: 1px;
    width: 90%;
    margin: 30px auto;
}

.divider {
    width: 90%;
    margin: 30px auto;
}

.screenscroll {
    overflow: scroll;
    height: 400px; 
   
}

.screenscroll_med {
    overflow: scroll;
    min-height: 200px;
    max-height: 500px; 
   
}

.screenscroll_tall {
    overflow: scroll;
    height: 735px; 
}

.logo_btn {
    margin: auto;
}

.logo {
    width: 20px;
    height: 20px;
    margin: auto;
}

.logo_font {
    font-size: 18px;
}

.logo_bar {
    text-align: center;
}

.oval {
    border: 3px solid grey;
    border-radius: 50%;
}

.business {
    height: 95vh;
    margin: auto;
    vertical-align: top;
}

.businessimg {
    border-radius: 10px;
    background:url("CardSense.jpeg") no-repeat center; 
    height:90vh;
    /* background-size: 100%; */
    
}

.opacity {
    opacity: .5;
}

.parallax2 {
    background: url("walking.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    perspective: 1px; 
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax-window {
    height: 100vh;
    background: transparent;
    position: relative;
}

nav.icon {
    display:none;
}

.inline-block {
    display: inline-block;
}

.icon {
    width: 30px;
}

.heroinfo {
    margin: auto 0px;
    height: 400px;
    width: 1000px;
    background-color: rgba(48, 48, 49, 0.747);
    border-radius: 5px; 
    border: 1px grey 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroinfo h1 {
    margin: auto 0px;
    color: whitesmoke;
    vertical-align: middle;
}

#popup {
    height: 400px;
    width: 435px;
    background-color: whitesmoke;
    position: relative;
    top: 25%;
    left: 15%;
    box-shadow: 8px 5px 2px 1px rgba(48, 48, 49, 0.315);
    padding: 50px;
    text-align: left;
}