<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{user.first_name}}'s Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'wall/css/master.css' %}">
    <link rel="icon" href="{% static 'wall/images/css.png' %}" type="image/png" sizes="16x16">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>   
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />


</head>

<body>
    <!-- Login NavBar -->
    <nav class=" navbar navbar-expand-lg navbar-light bg-primary fixed-top">
        <a class=" navbar-brand" href="/">CardSense</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" offset-6 collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item active">
                    <a href='/wall/{{user.id}}' class='m-1 nav-link btn btn-sm btn-light text-secondary'> Your Wall</a>
                </li>

                <li class="nav-item active">
                    <a href='/edit_contact' class='m-1 nav-link btn btn-sm btn-secondary text-white'> Edit Contact
                        Info</a>
                </li>
                <li class="nav-item active">
                    <a id="upgrade" href='#' class='m-1 nav-link btn btn-sm btn-secondary text-white'>
                        Upgrade</a>
                </li>
                <li class="nav-item active">
                    <a href='/logout' class='m-1 nav-link btn btn-sm btn-secondary text-white'>
                        Logout</a>
                </li>
            </ul>



        </div>

    </nav>

    <!-- upgrade options popup -->
    <div id="upgradeOptions" class="noDisplay">
        <button class="exitUpgrade">X</button>
        <h4> Premium Membership </h5>
            <div>
                <h6> Unlock your full potential with a premium membership! $5 per month!</h6>
            </div>
            <form action="/charge" method="post">
                {% csrf_token %}
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_e1yulkOnJTJAXafEyWFpqZCT00Tlhdtogv" data-description="A Django Charge"
                    data-amount="500" data-locale="auto"></script>
            </form>
    </div>

    <div class='container mt-5'>
        <!-- Messages -->
        <h5> Messages </h5>
        <div class='screenscroll'>
            <table class='table table-sm table-striped table-active messages'>
                <thead class='thead-dark'>
                    <tr>
                        <th> Name </th>
                        <th> Phone </th>
                        <th> Message </th>
                        <th> Respond </th>
                        <th> </th>
                    </tr>
                </thead>
                {% for message in my_messages %}
                <tr>
                    <td>
                        <p> {{message.author.first_name}} {{message.author.last_name}} </p>
                    </td>
                    <td>
                        <p> {{message.author.phone}} </p>
                    </td>
                    <td>
                        <p> {{message.message}} </p>
                    </td>
                    <td>
                        <form action='/comment/{{message.id}}' method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <textarea class="form-control" rows="2" name='comment'></textarea>
                            </div>
                            <input type='submit' class='btn-sm btn btn-primary' name='submit' value='Submit'>
                        </form>
                    </td>
                    <td>
                        <a href='/pin_message/{{message.id}}'>
                            <img class="icon" src="{% static 'wall/images/push-pin.png' %}" alt="pin message">
                        </a>
                        <a href='/destroy_message/{{message.id}}'>
                            <img class='icon' src="{% static 'wall/images/cancel.png' %}" alt="delete message">
                        </a>
                    </td>

                </tr>
                {% endfor %}
            </table>
            {% if not my_messages %}
            <div class="empty-box">
                <h5> You currently have zero messages. </h5>
            </div>
            {% endif %}
        </div>



        <div class='line_divider'></div>
        <!-- Events -->
        <div class="container">
            <div class='row justify-content-around'>
                <div class='col-lg-6'>
                    <h5> Create an Event </h5>
                    <!-- Event Form Validation -->
                    {% if messages %}
                    {% for message in messages %}
                            <p class="text-danger">{{ message }}</li>
                        {% endfor %}
                        {% endif %}

                        <form action='/process_event' enctype="multipart/form-data" method='POST'>
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"> What: </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name='what'>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"> Where: </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name='where'>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"> When: </label>
                                <div class="col-sm-9">
                                    <input type='datetime-local' id='datepicker' class="form-control" name='when'>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"> Why: </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name='why'>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label class="col-sm-3 col-form-label"> Event Pic: </label>
                                <div class="col-sm-9 input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                            aria-describedby="inputGroupFileAddon01" name='event_pic'>
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                            </div>




                            <input type='hidden' name="owner_id" value={{user.id}}>
                            <input type='submit' class='btn btn-outline-primary btn-sm'>
                        </form>
                </div>

                <div class='col-lg-6'>
                    <h5> My Events</h5>
                    <div class='screenscroll'>
                        {% if not events %}
                        <div class="empty-box">
                            <h5> Post events to generate more interest and to make your page look more attractive! </h5>
                        </div>
                        {% endif %}
                        {% for event in events %}
                        <table class='table table-sm table-striped table-active'>
                            <tr>
                                <th> What: </th>
                                <td>
                                    <p> {{event.what}} </p>
                                </td>
                            </tr>
                            <tr>
                                <th> When: </th>
                                <td>
                                    <p> {{event.when}} </p>
                                </td>
                            </tr>
                            <tr>
                                <th> Where: </th>
                                <td>
                                    <p> {{event.where}} </p>
                                </td>
                            </tr>
                            <tr>
                                <th> Why: </th>
                                <td>
                                    <p> {{event.why}} </p>
                                </td>
                            </tr>
                            <tr>
                                <th> Event Pic: </th>
                                <td> <img src="{{event.event_pic.url}}" alt='event picture' width='200px'> </td>
                            </tr>
                        </table>
                        <a href='/edit_event/{{event.id}}' class='btn btn-outline-primary btn-sm'>Edit</a>
                        <a href='/destroy_event/{{event.id}}'><img class='icon'
                                src="{% static 'wall/images/cancel.png' %}" alt="delete message"></a>
                        <div class='line_divider'></div>
                        {% endfor %}
                    </div>


                </div>

            </div>
        </div>
    </div>







    <div class='line_divider'></div>

    <!-- Leads and Loyalty -->
    <div class='container'>

        <div class='row justify-content-between'>
            <div class='col-lg-6 screenscroll'>
                <h5> Leads </h5>
                <table class='table table-sm table-striped table-active'>
                    <thead class='thead-dark'>
                        <tr>
                            <th> Name </th>
                            <th> Phone </th>
                            <th> Email </th>
                            <th> </th>
                        </tr>
                    </thead>
                    {% for lead in leads %}
                    <tr>
                        <td>
                            <p> {{lead.first_name}} {{lead.last_name}} </p>
                        </td>
                        <td>
                            <p> {{lead.phone}} </p>
                        </td>
                        <td>
                            <p> {{lead.email}} </p>
                        </td>
                        <td>
                            <form action='/convert_lead' method="POST">
                                {% csrf_token %}
                                <input type='hidden' name='lead_id' value={{lead.id}}>
                                <input type='submit' class='btn btn-outline-success btn-sm' value='Convert'>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% if not leads %}
                <div class="empty-box">
                    <h5> You currently have zero leads. Make sure you have at least one event post on the calendar. </h5>
                </div>
                {% endif %}
            </div>

            <div class='col-lg-6 screenscroll'>
                <h5> Loyalty </h5>
                <table class='table table-sm table-striped table-active'>
                    <thead class='thead-dark'>
                        <tr>
                            <th> Name </th>
                            <th> Phone </th>
                            <th> Email </th>
                        </tr>
                    </thead>
                    {% for loyal in loyalty %}
                    <tr>
                        <td>
                            <p> {{loyal.first_name}} {{loyalty.last_name}} </p>
                        </td>
                        <td>
                            <p> {{loyal.phone}} </p>
                        </td>
                        <td>
                            <p> {{loyal.email}} </p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% if not loyalty %}
                <div class="empty-box">
                    <h5> Convert your leads into the loyalty category. Keep working hard! </h5>
                </div>
                {% endif %}
            </div>
        </div>


    </div>


    <div class='line_divider'></div>


    <!-- Reviews -->
    <div class='container'>
        <h5> Reviews </h5>
        <div class='screenscroll'>

            <table class='table table-sm table-striped table-active'>
                <thead class='thead-dark'>
                    <tr>
                        <th> Name </th>
                        <th> Phone </th>
                        <th> Review </th>
                        <th> </th>
                    </tr>
                </thead>
                {% for review in reviews %}
                <tr>
                    <td>
                        <p> {{review.author.first_name}} {{review.author.last_name}} </p>
                    </td>
                    <td>
                        <p> {{review.author.phone}} </p>
                    </td>
                    <td>
                        <p> {{review.review}} </p>
                    </td>
                    <td>
                        <a href='/destroy_review/{{review.id}}'>
                            <img class='icon' src="{% static 'wall/images/cancel.png' %}" alt="delete review">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% if not reviews %}
            <div class="empty-box">
                <h5> Have you reached out to the people on your loyalty group? </h5>
            </div>
            {% endif %}
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <script>
        $(document).ready(function () {
            $('#upgrade').click(function () {
                console.log('upgrade options');
                $('#upgradeOptions').removeClass('noDisplay');
            })

            $(".exitUpgrade").click(function () {
                console.log('exit upgrade');
                $('#upgradeOptions').addClass('noDisplay');
            })
        })

    </script>



</body>

</html>