<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Contact Info</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'wall/css/master.css' %}">
    <link rel="icon" href="{% static 'wall/images/favicon.ico' %}" type="image/png" sizes="16x16">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>   

</head>

<body>
    <navbar class="navbar bg-primary">
        <h6 class="text-white"> Edit Your Contact Information </h6>
        <a href='/dashboard' class='text-white'>Go Back</a>
    </navbar>


    <!-- Form -->
    <div class='wrapper'>
        <h5> Edit Contact Info</h5>
        {% if messages %}
        {% for message in messages %}
                <p class="text-danger"> {{ message }} </li>
                {% endfor %}
            {% endif %}
            <form action="/process_edit_contact" enctype='multipart/form-data' method='POST'>
                <div class="form-group row">
                    {% csrf_token %}
                    <label for="staticEmail" class="col-sm-2 col-form-label">First name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{user.first_name}}" name='first_name'>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Last name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{user.last_name}}" name='last_name'>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="staticEmail" value="{{user.email}}" name='email'>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{user.phone}}" name='phone'>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Birthday</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name='birthday' value={{date}}>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Website</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{user.website}}" name='website'>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Linkedin</label>
                    <div class="col-sm-10">
                        <div class="input-group-prepend">
                            <div class="input-group-text">.com/</div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" value="{{user.linkedin}}"
                                name='linkedin'>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">facebook</label>
                    <div class="col-sm-10">
                        <div class="input-group-prepend">
                            <div class="input-group-text">.com/</div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" value="{{user.facebook}}"
                                name='facebook'>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">instagram</label>
                    <div class="col-sm-10">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" value="{{user.instagram}}"
                                name='instagram'>
                        </div>
                    </div>
                </div>




                <input type="submit" class='btn btn-primary btn-sm'>
            </form>


    </div>


    <div class='wrapper'>
        <h5> Update Profile Picture</h5>
        <form action='/update_profile_pic' enctype="multipart/form-data" method='POST'>
            {% csrf_token %}
            <div class='form-group row'>
                <label class="col-sm-2 col-form-label"> Profile Pic: </label>
                <div class="col-sm-10 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01" name='profile_pic' required>
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            </div>
            <input type='submit' class='btn btn-primary'>
        </form>


    </div>


</body>

</html>