<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'wall/css/master.css' %}">
    <link rel="stylesheet" href="{% static 'wall/css/bootstrap.css' %}">
    <link rel="icon" href="{% static 'wall/images/css.png' %}" type="image/png" sizes="16x16">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'wall/js/parallax.min.js' %}"></script>

</head>

<body>

    <!-- Login Navbar -->
    <nav class=" navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
        <h4 class='text-white'>CardSense</h4>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <p class='text-light'>{{ message }}</p>
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                <li class="dropdown order-1">
                    <button type="button" id="dropdownMenu1" data-toggle="dropdown"
                        class="btn btn-outline-secondary dropdown-toggle text-white navbar-collapse collapse">Login
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right mt-2" id="navbarNavDropdown">
                        <li class="px-3 py-2">
                            {% if messages %}
                                {% for message in messages %}
                                    <p class="text-danger">{{ message }}</li>
                            {% endfor %}
                        {% endif %}
                        <form class="form" action='/login_valid' method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input placeholder="Email" class="form-control form-control-sm" type="text"
                                    name='email'>
                            </div>
                            <div class="form-group">
                                <input placeholder="Password" class="form-control form-control-sm" type="password"
                                    name='password'>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </div>
                            <div class="form-group text-center">
                                <small><a href="#" data-toggle="modal" data-target="#modalPassword">Forgot
                                        password?</a></small>
                            </div>
                        </form>
                </li>
            </ul>
            </li>
            </ul>
        </div>
    </nav>



    <div class='parallax-window' data-parallax="scroll" data-image-src="{% static 'wall/css/computer.jpg' %}">
        <div class="heroinfo">
            <div class='col-lg-6 col-sm-4'>
                <h1>Enhance Your Reach</h1>
                <h1>with a Digital Business Card</h1>
            </div>
        </div>
    </div>

    <!-- Info Popup -->
    <div class="gradient">
        <div class='container p-6 py-3'>
            <div class='row align-items-center justify-content-between'>

                <div class='text-center border rounded border-light p-5 col-sm-5'>
                    <h4 id='cardsense'><button class='btn border-light mt-1 text-light'> What is CardSense?
                        </button></h4>
                    <h4 id='nfc'><button class='btn border-light mt-1 text-light'> What is NFC? </button></h4>
                </div>

                <div class='col-sm-7 businessimg text-center '>
                    <div id="popup" class="noDisplay">
                        <button class="exitUpgrade"> x </button>
                        <div class="popupInfo"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            let popupInfo = "";

            $("#cardsense").click(function () {
                popupInfo = "";
                popupInfo +=
                    "<h3> CardSense </h3>" +
                    "<p> CardSense is your Digital Business Card, a one-stop shop for everything YOU. Display everything from your contact information," +
                    " social media links, LinkedIn, events that you are hosting, and allow users to post professional reviews and questions! </p>" +
                    "<h6> Try it for free! Sign up below! </h6>";

                $('.popupInfo').html(popupInfo);
                $('#popup').fadeIn("slow")
            });

            $("#nfc").click(function () {
                // $('#popup').removeClass('noDisplay')
                popupInfo = "";
                popupInfo +=
                    "<h3> NFC </h3>" +
                    "<p>Near Field Communication (NFC) is a contact-less communication technology based on a radio frequency field. " +
                    "CardSense utilizes NFC technology to exchange data between two devices." +
                    "Just touch your NFC enabled business card to a NFC capable phone and your digital business card will instantly appear!</p>"

                $('.popupInfo').html(popupInfo);
                $('#popup').fadeIn("slow")
            });
            // exit popup
            $(".exitUpgrade").click(function () {
                $('#popup').fadeOut("slow");
                popupInfo = ""
            });

        })
    </script>








    <!-- Registration -->
    <div class='parallax2'>

    </div>
    <div class='parallax2'>
        <div class='container mt-5 justify-content'>
            <div id='login_mobile' class='col-lg-6 col-sm-4 p-3 border border-light rounded offset-7'>
                <h3 class='text-white'>Sign Up Now</h3>
                {% if messages %}
                    {% for message in messages %}
                         <p class="text-danger">{{ message }}</li> 
                        {% endfor %}
                    {% endif %}

                    <div class="container">
                        <form action='/create' method='POST'>
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <input type="text" class="form-control-sm" name='first_name'
                                        placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <input type="text" class="form-control-sm" name='last_name' placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <input type="text" class="form-control-sm" name='email' placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <!-- <input type="tel" class="form-control-sm" name='phone' placeholder="(012)345-6789"> -->
                                    <input type="text" class="form-control-sm bfh-phone" placeholder="Phone Number"
                                        name='phone'>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <input type="date" class="form-control-sm" name='birthday'
                                        placeholder='Date of birth'>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <input type="password" class="form-control-sm" name='password'
                                        placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <input type="password" class="form-control-sm" name='password_confirm'
                                        placeholder="Confirm Password">
                                </div>
                            </div>
                            <a href='#'><button class='btn btn-primary btn-sm'>Create Account</button></a>
                        </form>
                    </div>
            </div>



        </div>

    </div>






</body>

</html>